
/*
 * Global CSS File
 * Applies to all views
 * 
 */

html { 
   	
	}

.cenwrap {width:988px; margin: 0 auto;  }
#doc3 { margin: 0;}

/* 
 * Font styles
 */
 

a { text-decoration:none; color: #551A8B; }
li { display:block; list-style-type:none; padding: 0 7px; }

/* Hgroup */ 
h1 { font-size: 48px; font-family: Courier New, monospace;}
h2 { font-family: georgia, 'times new roman', times, serif; font-size: 140%; font-weight:400; line-height:1.2em; margin-top:1.2em; margin-bottom:2px;}
	h2.punch { font-weight:bold; color: #487858;}
h3 {color: #487858; font-size: 120%; font-weight:400; line-height:1.2em; margin-top:1.2em;}
h4 { font-size: 110%; font-weight:bold; margin:1em 0 0.3em; }


/* 
 *  Header area
 */
 
#headersection { padding:30px 0;
	background: url('../../media/images/netalgorithm.jpg') no-repeat top right;
	filter:alpha(opacity=60);
  	opacity:0.6;
	}
  #cw-logo {
  	background: url("../../media/images/code-wars.jpg") no-repeat scroll -10px 0 transparent;
  	height:60px;}
  #headersection h1 { float:left; visibility:hidden;}
  #tagline { padding-left:5px; font-family: Gill, Helvetica, sans-serif; font-style:italic;}
  #tagline p {margin-bottom:3px;}

#bannersection { 
		border-bottom:1px solid #ccc;   
		}
     
  #topnavbar { font-family:"Trebuchet MS",sans-serif; font-weight:bold; }
  #topnavbar a { padding: 5px 7px; display:block; float:left; color:#000; }
	  	#topnavbar a:hover { color:white; background:#fafafa; color:#1C3A1C; }
  #topnavbar li {border: 1px solid #ccc; border-right:none; display:block; float:left; list-style-type:none; padding: 0 7px; }
  		#topnavbar li.rightend {border-right:  1px solid #ccc; } 
 		#topnavbar li.admin a { background:#ec8380; }
  		#topnavbar li.dim a {color: #777; } 
  #banner {}

#gammasection { margin-top: 30px;
	font-size: 11px; font-family: Times News Roman, serif;}
  #breadcrumb { }
  #userbar {text-align:right; }
    #userbar li {display:inline; margin-left:6px;}

/* 
 *  Content area
 */

#content {
	font-family: georgia, 'times new roman', times, serif;
}
	#content.home { }
	#content p {padding: 10px 0;}
	#content h3.punch { margin: 1.2em 0 0 0px; }
	#content h4 {text-decoration:underline; margin-bottom:3px;}
	
	.checkbox ul { list-style-type: none; }
	.checkbox li
		{
		padding:0px;
		background-image: url('../../media/images/li-checkbox.png');
		background-repeat: no-repeat;
		background-position: 0px -5px; 
		padding-left: 24px; 
		}

.right {
	float:right;
}

/*
 *   Specific for certain pages. --- This should be moved to a different CSS file? -- 
 */


/* 
 *  Sidebar area
 */

#sidebar { 
	margin-left:20px;
}

.widget { }

#sidebar .widget h4 {
    /*
	background:#83ec80;
	border-bottom:5px solid #7566ca;
	font-family: 'Lucida Grande', 'Lucida Grande Unicode', 'Helvetica Neue', Helvetica, sans-serif;
	*/
	padding:0.1em 0.2em 0;
	margin:0.2em 0;	
}


#sidebar ul {
	margin:0 0.5em;
}

.game {
	border-bottom:1px solid #CCCCCC;
	margin-bottom:5px;
}
.game h3 {
	padding-bottom:2px;
}

/*
 * Profile Page
 */
ul.bots ul {
	margin:0 0 0 1em;
} 


/*
 * Challenges Page
 */
#challengepage {}
#challengepage .buttons{ text-align:center; } 
#challengepage .button{ display:inline;}
#challengepage .button .button-number{ font-size: 40px;}
#challengepage .links{ color: #487858;  } 


/*
 * Servers Page
 */
.tableheader {
	font-weight:bold;
} 
.center {
	text-align:center; 
	}

/*
 * Bot Profile Page
 */

#botprofilepage {}

#botinfo {border: dotted 1px #333; border-right:none; margin: 5px 0; padding: 5px 0; height:253px;}
#botinfo .leftinfo {text-align:right; font-weight:bold;}
#botinfo .rightinfo {}
#chart {border: dotted 1px #333; margin: 5px 0; padding: 5px 5px; }


/*
 * Sticks footer to bottom of page. 
 * 
*/

html, body, #doc3 { height: 100%; }
body > #doc4 {height: auto; min-height: 100%;}
#bd {overflow:auto; padding-bottom: 60px; } /* must be same height as the footer - 290 */
#ft {position: relative; margin-top: -120px; /* negative value of footer height */ 
	height: 120px; clear:both; }
/*Opera Fix*/
body:before { content:""; height:100%; float:left; width:0; margin-top:-31415px;}


/* 
 *  Footer area
 */
 
#ft {
	clear:both; 
	padding:1em 0 2em;
//	background: #1600ad;
	background: #5868dc;
	color: #FFF; 
	font-family: garamond;
	margin-top:2em;
}
 
#footersection {
		width:988px; 
		margin: 0 auto;   
		}
		
#footersection h2 {font-family:garamond; margin:0 0 0.5em;font-size:150%; font-weight:800;}
#footersection li {padding:0px; font-size:105%}
#footersection a {color:#FFF;}
#footersection .copyright {text-align:right; margin-top:3em; margin-right:8%;}

.error {
  border-color:red;
}
 

 /*
 * Reference
 * Global green color:#487858;
 * background shading (for admin etc): #ec8380; 
*/


.stats span {
  color:#487858;
  text-decoration:underline;
  cursor:pointer;
}

.stats .history {
  display:none;
  margin:0 0 0 0.5em;
}
