
/*
 * Global CSS File
 * Applies to all views
 * 
 */

html { 
   	
	}

.cenwrap {width:988px; margin: 0 auto;  }
#doc3 { margin: 0;}

/* 
 * Font styles
 */
 

a { text-decoration:none; color: #551A8B; }
li { display:block; list-style-type:none; padding: 0 7px; }

/* Hgroup */ 
h1 { font-size: 48px; font-family: Courier New, monospace;}
h2 { font-family: georgia, 'times new roman', times, serif; font-size: 140%; font-weight:400; line-height:1.2em; margin-top:1.2em; margin-bottom:2px;}
	h2.punch { font-weight:bold; color: #487858;}
h3 {color: #487858; font-size: 110%; font-weight:400; line-height:1.2em; margin-top:1.2em;}
h4 { font-size: 120%; font-weight:bold; margin:1em 0 0.3em; }


/* 
 *  Header area
 */
 
#headersection { padding:30px 0;
	background: url('../../media/images/netalgorithm.jpg') no-repeat top right;
	filter:alpha(opacity=60);
  	opacity:0.6;
	}
  #cw-logo {
  	background: url("../../media/images/code-wars.jpg") no-repeat scroll -10px 0 transparent;
  	height:60px;}
  #headersection h1 { float:left; visibility:hidden;}
  #tagline { padding-left:5px; font-family: Gill, Helvetica, sans-serif; font-style:italic;}
  #tagline p {margin-bottom:3px;}

#bannersection { 
		border-bottom:1px solid #ccc;   
		}
     
  #topnavbar { font-family:"Trebuchet MS",sans-serif; font-weight:bold; }
  #topnavbar a { padding: 5px 7px; display:block; float:left; color:#000; }
	  	#topnavbar a:hover { color:white; background:#fafafa; color:#1C3A1C; }
  #topnavbar li {border: 1px solid #ccc; border-right:none; display:block; float:left; list-style-type:none; padding: 0 7px; }
  		#topnavbar li.rightend {border-right:  1px solid #ccc; } 
 		#topnavbar li.admin a { background:#ec8380; }
  		#topnavbar li.dim a {color: #777; } 
  #banner {}

#gammasection { margin-top: 30px;
	font-size: 11px; font-family: Times News Roman, serif;}
  #breadcrumb { }
  #userbar {text-align:right; }
    #userbar li {display:inline; margin-left:6px;}

/* 
 *  Content area
 */

#content {
	font-family: georgia, 'times new roman', times, serif;
}
	#content.home { }
	#content p {padding: 10px 0;}
	#content h3.punch { margin: 1.2em 0 0 0px; }
	#content h4 {text-decoration:underline; margin-bottom:3px;}
	
	.checkbox ul { list-style-type: none; }
	.checkbox li
		{
		padding:0px;
		background-image: url('../../media/images/li-checkbox.png');
		background-repeat: no-repeat;
		background-position: 0px -5px; 
		padding-left: 24px; 
		}

.right {
	float:right;
}

/*
 *   Specific for certain pages. --- This should be moved to a different CSS file? -- 
 */

.challenge-links{ color: #487858;  } 

/* 
 *  Sidebar area
 */

#sidebar { 
	margin-left:20px;
}

.widget { }

#sidebar .widget h4 {
    /*
	background:#83ec80;
	border-bottom:5px solid #7566ca;
	font-family: 'Lucida Grande', 'Lucida Grande Unicode', 'Helvetica Neue', Helvetica, sans-serif;
	*/
	padding:0.1em 0.2em 0;
	margin:0.2em 0;	
}


#sidebar ul {
	margin:0 0.5em;
}

.game {
	border-bottom:1px solid #CCCCCC;
	margin-bottom:5px;
}
.game h3 {
	padding-bottom:2px;
}

/*
 * Profile Page
 */
ul.bots ul {
	margin:0 0 0 1em;
} 
 
/* 
 *  Footer area
 */

#ft {clear:both; padding-top:1em;}
  
 #footersection {width:988px; margin: 0 auto; padding: 0.5em 0; text-align:center; font-size:0.7em; border-top:1px solid #ccc; width:45em;}

.error {
  border-color:red;
}
 

 /*
 * Reference
 * Global green color:#487858;
 * background shading (for admin etc): #ec8380; 
*/
