/*------------------------------------------------------------------

Description: Stylesheet developed for
	Code-Wars
	SNACK
	APPM 3050
	Spring 2010
	Projectile Motion Lab
Author: Code-wars
URL: 	www.code-wars.com

-------------------------------------------------------------------*/

body {
	font-family: verdana;
	text-align:left;
	}


#infoBoxContainer1 {height: 170px;}

.infoBox {
	position: static;
	border: 1px solid #dbe5cf;
	background-color: #fff;
	margin: 5px 0;
	text-align:left;
	font-size: 77%;
}

.infoBoxCollapsable .infoBoxHead {cursor:pointer; }

.infoBoxHead {
	width: auto;
	height: 27px;
	background: #eee;
	border-bottom: 0;
	text-align: left;
	color: #376F18;
	font-size: 85%;
	font-weight: bold;
	padding: 5px 4px;
}
.infoBox h1 {
	color: #ebebeb;
}

.info {
	margin:0.2em 0.4em;
}

#infolinkbox {
	height:80px;
	background:transparent url(../images/help.png) no-repeat scroll center center;
	text-align:center;
}
#infolinkbox a {
	font-weight:bold;
	font-size:120%;
	text-decoration:none;
	color:#000;
}

.fill {
	border:1px #000 solid;
	padding: 10px;
	margin: 5px auto;
	background: #eee
}
#visualization {
	width:640px;
	height:385px;
}

#hd {
	text-align:center;
}

#ft {
	text-align:center;
	font-size:0.8em;
}

.collapsed .info {
	display:none;
}

/* Login page and Form */
/* ========================================== */

#login{ text-align:left;}
#login{ 
	text-align:left;
	background-color:#E8EEFA;
	border:1px solid black;
	height:115px;
	padding:15px 0;
	}
	
	#login .helptext {text-align:center;}
	#login ul {padding:10px 0;}
	#login li {padding: 2px; display:block;}
	#login label { width: 5em; float: left; text-align: right; margin-right: 0.5em; }
	#login input { background: #eee; border: 1px solid #000; }
	#login .submit input { margin-left:6em; width: 4em; background: #fff;}
	#login label { width: 8em; float: left; text-align: right; margin-right: 0.5em; }
	#login input { background: #FFF; border: 1px solid #000; width: 14em;}
	.lsubmit {text-align:right;}
	#login #l { margin-top:10px; margin-right:2em; text-align:center; width:4em; cursor:pointer;}
	
.error{	margin-bottom:5px; color:#F00; font-weight:bold;}

/* ========================================== */

.default_list li {list-style-type:circle; list-style-position:outside;}
.inside_list li {list-style-type:circle; list-style-position:inside;}

#downloadpage h3 {font-weight:bold;}
.links h2 {font-size:2em; font-weight:bold;margin-bottom:0.3em;}

#faqpage h1 {font-weight:bold;font-size:125%;color:#e40404;}
#faqpage h3 {font-weight:bold;font-size:115%; margin-top:15px;color:#074510;border-bottom:thin #074510 dotted;}
.faq-question {font-weight:bold;margin-top:5px;}


/* Scoreboard - Leaderboard - Game Navigator */
/* ========================================== */

#stats {
	height:480px;	
	padding: 5px;	
} 

#stats_tabs{ padding:0px;}
#stats_tabs li {font-size:10px;}
.ui-tabs .ui-tabs-nav li a { padding: 0 2px; font-size:12px;}

#scoreboard, #leaderboard {}

	.active, .inactive { }
		.inactive {margin-top:20px;font-size:80%}

	#scoreboard h2, #leaderboard h2 {font-size:100%; color:#000;text-decoration:underline;}
	#scoreboard h3 {font-weight:bold;}

	.universal {border-bottom:5px double #000; background:url(../images/bracket.png) no-repeat; height:60px;}
	.scoreboardrow {border-bottom:5px solid #000; height:60px;}

	.username {font-size:16px;font-weight:bold;padding-top:12px;}

	/* OBSOLETE: NEXT FEW LINES */
	.statrow{ border-bottom: 2px dotted #AAA;}
		.botname {font-weight:bold;}
		.accuracy {text-align:right;} .miss {color:#F00;}
	/* OBSOLETE */
	

#yourbot {}
	#yourbot li {padding:2px 0;cursor:pointer; font-size:10px;}
	#yourbot h3 {font-weight:bold; margin-top:10px;}

#myattempts { cursor:pointer; }
	#myattempts h2 {font-weight:bold;}
	#myattempts h3 {font-weight:bold; padding-top:10px;}
	.extracredit {border-top:5px solid #000; margin-top:8px;}
		#myattempts .extracredit h3 {padding-top:2px;}
	
	.attempt {}	
	.most_recent {border-bottom:5px solid #000; background:url(../images/bracket.png) no-repeat; height:60px;}
	.coordinates {font-weight:bold; padding-top:7px; font-size:16px; margin-left:20px;}
	.rightside {text-align:right; font-weight:bold;}
	.result { font-size: 28px; } 
	.hit { color:#074510; }
	.miss { color:#e40404; }
	.data { } 
	
	/* For Standard entry in my attempts */
	.entry_container { height:20px;}
	.entry_coordinates {font-weight:bold; padding-left:7px; padding-top:1px; font-size:12px;}
	.entry_rightside {text-align:right; font-weight:bold;}
  	.entry_result { font-weight:bold; padding-top:1px; font-size: 12px; } 

  /* Leader Board Styling*/
	.leaderboardrow {border-bottom:3px solid #000; height:40px;}
  .leaderboardname {font-size:16px;font-weight:bold;}
  .avgcomptime {font-size:11px;font-weight:bold;}
  .offline_text {color:#AAAAAA;}

#switch_level {
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;	
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-weight:bold;
	padding:5px 0;
	font-size:150%;
	color:#565656;
    	cursor:pointer;
	}
/* Help stuff */
/* ========================================== */
#help {}
#help h3 {margin-top:10px;font-size:120%; font-weight:bold;}
#help .image {margin-left:10px;}
